
<!DOCTYPE html>
<html>

<head>
 
        
        <link rel = "stylesheet" href = "/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--change the site name-->
        {{!-- <title>title</title>
        <!--set the icon-->
        <link rel = 'icon' href = './img/wetaher.png'> --}}
</head>

<body>
    {{>header}}
    
<div class="row">

    <div class='column' style = 'margin-top: 5%; margin-left: 5%; border-right: 3px solid black; width: 25%; padding-right: 5%;'>
        <H1 style = "margin-left: 20%">Shuai Huang</H1>
        <img class = 'portrait' src = '/img/profile_pic.jpg'>
        {{!-- <h1 style = "display:block; font-faimly:'PT Serif'">Shuai Huang</h1> --}}
        <div style = "display: block; text-align:center;">
            <a href='https://github.com/omishuai' style ="color:black"><i class="fa fa-github" style="font-size:24px; margin:5px;" ></i></a>
            <a href='https://www.instagram.com/iamtooold/?hl=en' style ="color:black"><i class="fa fa-instagram" style="font-size:24px; margin:5px;" ></i></a>
            <a href = 'mailto:shhuang9532@gmail.com' style ="color:black"><i class="fa fa-envelope" style="font-size:24px; margin:5px;"></i></a>
            <a href ='https://www.linkedin.com/in/shuaih' style ="color:black"><i class="fa fa-linkedin-square" style="font-size:24px; margin:5px;"></i></a>

        </div>
    </div>

    <div class='column' style = 'margin-top: 5%; margin-left: 8%; max-width: 40%; max-height:100%; overflow-y:auto;  flex-flow: column; display: flex;' >
        <p style= "font-family: 'PT Serif';">Shuai is currently pursuing MS in Software Engineering at <a href = 'https://sv.cmu.edu/'>Carnegie Mellon University in Silicon Valley</a>, and has a Bachelor's Degree in Computer Science from <a href ='https://cse.ucsd.edu/'>University of California, San Diego</a>.</p>
        <p style= "font-family: 'PT Serif';">Prior to MS Program, Shuai worked as a Software Engineer (Intern) at <a href='https://thehive.ai/'>Hive AI</a> in San Francisco where he built automated data pipelines to deliver training data for companies and integrate Machine Learning Models to businesses. He also interned at <a href = 'https://www.morganstanley.com/'>Mogran Stanley</a> as a Software Engineering Summer Analyst where he built the backend system of a transation tracing platform that covers the area in Asia and Austrilia. While Shuai was attending UC San Diego , he participated in <a href ='http://ersp.ucsd.edu/'>ERSP (Early Research Scholars Program)</a> and co-built a <a href = 'http://ersp.ucsd.edu/wp-content/uploads/2017/06/2016_McAuley.pdf'>Sports Type Predictor</a>.
        <p style= "font-family: 'PT Serif';">While Shuai is passionate about different fields in Computer Science, his main interest lies in Software Engineering with a focus on Backend Development. Shuai cherishes every opportunity to put what he has learned into practices, and as an incoming Master's student at CMU in 2020, he cannot wait to master more technologies and work on more projects, all of which will prepare him to be a competitive Software Engineer in the future.</p>
    </div>

</div>


    
    {{!-- <div class='details' style = 'border: blue solid 2px;' >
        <p style= "font-family: 'PT Serif';">Shuai is currently pursuing MS is Software Engineering at <a href = 'https://sv.cmu.edu/'>Carnegie Mellon University in Silicon Valley</a>, and has a Bachelor's Degree in Computer Science from <a href ='https://cse.ucsd.edu/'>University of Calfiornia, San Diego</a>.</p>
        <p style= "font-family: 'PT Serif';">Prior to MS Program, Shuai worked as a Software Engineer (Contractor) at <a href='https://thehive.ai/'>Hive AI</a> in San Francisco where he built automated data pipelines to deliver training data for companies and integrate Machine Learning Models to businesses. He also interned at <a href = 'https://www.morganstanley.com/'>Mogran Stanley</a> as a Software Engineering Summer Analyst where he built the backend system of a transation tracing platform that covers the area in Asia and Austrilia. While Shuai was attending UC San Diego , he participated in <a href ='http://ersp.ucsd.edu/'>ERSP (Early Research Scholars Program)</a> and co-built a <a href = 'http://ersp.ucsd.edu/wp-content/uploads/2017/06/2016_McAuley.pdf'>Sports Type Predictor</a>.
        <p style= "font-family: 'PT Serif';">While Shuai is passoinate about different fields in Computer Science, his main interest lies in Software Engineering with a focus on Backend Development. Shuai cherishes every opportunity to put what he has learned into practices, and as an incoming Master's student at CMU in 2020, he cannot wait to master more technologies and work on more projects, all of which will prepare him to be a competitive Software Engineer in the future.</p>
    </div> --}}

    {{!-- {{>footer}} --}}
    {{!-- <!-- make sure the script run after all elem is avail-->
    <script src = "js/app.js"></script> --}}
</body>
</html>