
<!DOCTYPE html>
<html>

<head>
 
        
        <link rel = "stylesheet" href = "/css/style.css">
        <!--change the site name-->
        {{!-- <title>title</title>
        <!--set the icon-->
        <link rel = 'icon' href = './img/wetaher.png'> --}}
</head>

<body>
    {{>header}}

    <div class='main-content' >

        <img class = 'profile_portrait' src = '/img/profile_pic.jpg'>

        <div class = 'text'>
            <ul>Name: {{name}}</ul>
            <ul>Email: <a href="mailto:shhuang9532@gmail.com"> shhuang9532@gmail.com</a></ul>
        </div>

    </div>
    
    <div class='details'>
        
    </div>

    {{>footer}}
    
    {{!-- <!-- make sure the script run after all elem is avail-->
    <script src = "js/app.js"></script> --}}
</body>
</html>