
<!DOCTYPE html>
<html>

<head>
 
        
        <link rel = "stylesheet" href = "/css/style.css">
        <!--change the site name-->
        {{!-- <title>title</title>
        <!--set the icon-->
        <link rel = 'icon' href = './img/wetaher.png'> --}}
</head>

<body>
    {{>header}}

    <div class='main-content' >
        
        <img class = 'profile_portrait' src = '/img/profile.jpeg'>
        <div class = 'text'>
            <li>Name: {{name}}</li>
            <li>Address: San Francisco, CA94132</li>
            <li>Email: <a href="mailto:shhuang9532@gmail.com"> shhuang9532@gmail.com</a></li>
            <li>Phone: (1)415-802-5566</li>
            <li>Education: B.S in Computer Science at UC San Diego</li>
        </div>
            
        <div class = 'information'>

        </div>

    </div>

    {{>footer}}
    
    {{!-- <!-- make sure the script run after all elem is avail-->
    <script src = "js/app.js"></script> --}}
</body>
</html>