<!DOCTYPE html>
<html>

<head>
    <link rel = "stylesheet" href = "/css/style.css">
</head>

<body>

{{>header}}

<div class = "row" id = "post_container">
    <ul class = "ls_container" style = "padding-top: 5%">

        <li >
        <span>April 10th, 2020  </span> 
        <a href = '/posts/p6-spring-database' title = "Spring - SQL Database(1): MySQL">Spring - SQL Database(1): MySQL</a>
        </li>

        <li >
        <span>April 9th, 2020  </span> 
        <a href = '/posts/p5' title = "Spring - Spring Basics(1)">Spring - Spring Basics(1)</a>
        </li>

        <li >
        <span>April 7th, 2020  </span> 
        <a href = '/posts/p4' title = "Algorithms And Data Structures (1)">Algorithms And Data Structures (1)</a>
        </li>
        <li >
        <span>April 7th, 2020  </span> 
        <a href = '/posts/p3' title = "2018 Summer Internship at Morgan Stanley">2018 Summer Internship at Morgan Stanley</a>
        </li>
        <li >
        <span>April 5th, 2020  </span> 
        <a href = '/posts/p2' title = "2020 New Start: work, school and plan">2020 New Start: work, school and plan</a>
        </li>
        <li >
        <span>April 1st, 2020  </span> 
        <a href = '/posts/p_lp_p1' title = "P-LP practice impl"> P-LP practice impL</a>
        </li>


    </ul>
</div>

{{!-- {{>footer}} --}}

</body>
</html>