<!DOCTYPE html>
<html>

<head>
    <link rel = "stylesheet" href = "/css/style.css">
    <script type="text/javascript" src='/js/leetcode/client.js'> </script>
</head>

<body>

{{>header}}
<div class = "row" style = "text-align:center">
<h1 >Content is coming :)  </h1>

</div>
{{>footer}}

</body>
</html>