<!DOCTYPE html>
<html>

<head>
    <link rel = "stylesheet" href = "/css/style.css">
</head>

<body>

{{>header}}

<div class = "row" id = "post_container">
    <ul class = "ls_container" style = "padding-top: 5%">
        <li >
        <span>April 1st, 2020  </span> 
        <a href = '/posts/p_lp_p1' title = "P-LP practice impl"> P-LP practice impL</a>
        </li>

        <li >
        <span>April 5th, 2020  </span> 
        <a href = '/posts/p2' title = "2020 New Start: work, school and plan">2020 New Start: work, school and plan</a>
        </li>
    </ul>
</div>

{{!-- {{>footer}} --}}

</body>
</html>