{{!-- <header>
    
    <div>
        <a href='/' style="color: grey">About</a> | <a href='/posts' style="color: grey">Posts</a>
    </div>
    
</header> --}}


<div class="fixed-header">
        <div class="container">
            <nav>
                <a href="/">About</a>  |   <a href="/posts">Posts</a> 
                {{!-- <a href = 'www.linkedin.com' style = "border: 1px white solid"> linkedin</a> --}}
                 {{!-- <p id = "header-text">Shuia hUang</p> --}}
            </nav>
            {{!-- <p id = "header-text"> Shuai Huang</p> --}}
        </div>

        {{!-- <a href = 'www.linkedin.com' style = "border: 1px white solid"> linkedin</a> --}}
    </div>