<!DOCTYPE html>
<html>

<head>
    <link rel = "stylesheet" href = "/css/style.css">
</head>

<body>

{{>header}}

<div class = "row">
	<div style = "margin: 5%">

<h2 style= "display: block; border-bottom: 1px grey solid">2020 New Start: work, school and plan</h1>

<h3>work</h3>
<p>
I am looking for internships at the moment. The virus crashed the industry, but I am still searching for some jobs before my school starts.
I am hopeful whenever I see openings on LinkedIn. I am waiting to hear back from companies, and hope there will be still opportunities online.
</p>

<h3>school</h3> 
<p>
This year, I am starting my grad studies in Software Engineering at Carnegie Mellon University in Silicon Valley. I still have not moved out of California after all. Everything is still familiar.
I know how challenging it will be to start school with the hope of getting a job afterwards. Lots of people will share the same boat with me. I am not certain what is going to happen to me after school and recruiting season starts, but
I am certain that I will be ready by then to welcome whatever comes. 
</p>

<h3>plan</h3>
<p>
	I have got some plans from now on, for the upcoming semester. It is a long break for me after all. Even if I might not get an internship, plenty efforts are needed.
<ul>
	<li>keep looking for jobs of course</li>
	<li>preparing for interviews, meaning leetcode questions , and get ready for recruiting season. Every interview will matter</li>
	<li>review java basics and programming fundamentals</li>
	<li>study Operating Systems, and Networks. I don't think I had a good grasp of OS. Even if I did, I would have forgotten by now the stuff I learned couple years ago</li>
	<li>do some side projects for god's sake. I don't think recruiters want to see the old stuff on my resume<br>I want to focus on backend development, thus some technologies that I want to cover: 
	
		<ol>
			<li>java, Python, <strong>*Spring*</strong>, Hibernate, RabbitMQ</li>
			<li>NodeJS, ExpressJS</li>
			<li>Redis, MongoDB, PostgreSQL, MySQL, Cassandra</li>
			<li>Micro-services?? Docker and Docker-Compose</li>
		</ol>
	</li>
	<li>enjoy life. skincare and sports :)</li>
	</ul>
</p>
</div>
</div>

{{!-- {{>footer}} --}}

</body>
</html>



